contourpy
cycler
filelock
fonttools
fsspec
importlib_metadata
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
scikit-learn
scipy
setuptools
six
sympy
threadpoolctl
torch
torchvision
typing_extensions
wheel
zipp